<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ css_tag('screen, icomoon, prettify') }}
  {{ js_tag(':jquery') }}
  <link href="{{ site.feed_url }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
</head>
<body>
  {% include "inc/header.html" %}
  <div class="wrap" id="pjax-container">
    <div class="bg-banner">{% block banner %}blog{% endblock %}</div>
    <section role="main" class="main {{ layout }}">
      {%block content%}{%endblock%}
    </section>
  </div>
  {% include "inc/footer.html" %}
  {% include "inc/after_footer.html" %}
  {% include "inc/subnav.html" %}
</body>
</html>
