{% extends "index.html" %}

{% block content %}
  <section class="search" role="search">
    <h2 class="page-header">Search</h2>
    <form class="search-form" method="get" action="{{ url('search') }}">
      <input id="query" name="q" type="text" value="{{ query }}" placeholder="keyword">
    </form>
    <script>
      $('#query').focus();
    </script>
    {% if query %}
      {% if paginator.posts %}
        <section class="search-result">
          <div class="pagination-info">
            {{ paginator.start_pos }} - {{ paginator.end_pos }} of {{ paginator.total }}
          </div>
        </section>
        <script>
          $(function(){
            highlight('{{ query }}');
          });
        </script>
      {% else %}
        <p class="no-results">
          <em>{{ query }}</em> に一致する情報は見つかりませんでした。
        </p>
      {% endif %}
    {% endif %}
  </section>

  {% if 0 and not query %}
    <div class="top-tags">
      <h3>tags</h3>
      <ul>
        {% for tag, count in tags %}
        <li class="tag">
          <a href="/tag/{{ tag|url_encode }}">
            {{- tag -}}
            {% if count >= 2 %}<span class="tag-count">{{ count }}</span>{% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {{ parent() }}

{% endblock %}